# 修正 `cyl` 数据类型
- 2008：从字符串中提取整数
- 2018：将浮点转换成整数

In [1]:
# 加载数据集
import pandas as pd
df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [3]:
df_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

In [4]:
# 检查 2008 cyl 列的值数量
df_08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

阅读  [这里](https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas)，了解如何在下一步用 Pandas 从字符串中提取整数

In [14]:
# 从 2008 cyl 列的字符串中提取整数
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

In [15]:
# 再次检查 2008 cyl 列的值数量，确认更改
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [16]:
# 将 2018 cyl 列转换成整数
df_18['cyl'] = df_18['cyl'].astype(int)

In [17]:
type(df_18['cyl'][0])

numpy.int64

In [18]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)