# 过滤、丢弃空值、重复数据删除
使用 `data_08.csv` 和 `data_18.csv`

In [38]:
# 加载数据集
import pandas as pd

df_08 = pd.read_csv('data_08.csv')
df_18 = pd.read_csv('data_18.csv')

In [8]:
# 查看数据集维度
df_08.shape

(2404, 14)

In [9]:
# 查看数据集维度
df_18.shape

(1611, 14)

## 按认证区域过滤

In [11]:
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [12]:
df_18.cert_region.value_counts()

FA    813
CA    798
Name: cert_region, dtype: int64

In [15]:
df_18.cert_region.unique()

array(['FA', 'CA'], dtype=object)

In [39]:
# 过滤满足加州标准的行的数据集
df_08 = df_08.query("cert_region == 'CA'")
df_18 = df_18.query("cert_region == 'CA'")

In [23]:
# 确定唯一的认证区域是加州
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [24]:
# 确定唯一的认证区域是加州
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [40]:
# 将认证区域列从两个数据集中丢弃
df_08.drop(columns='cert_region',inplace=True)
df_18.drop(columns='cert_region',inplace=True)

In [41]:
df_08.shape

(1084, 13)

In [42]:
df_18.shape

(798, 13)

## 丢弃含有缺失值的行

In [45]:
# 查看 2008 年每个特征的缺失值数量
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [32]:
# 查看 2018 年每个特征的缺失值数量
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [46]:
# 丢弃两个数据集中有任何空值的行
df_08 = df_08.dropna()
df_18 = df_18.dropna()

In [47]:
# 检查 2008 年的任何列是否有空值 - 应打印为“假”
df_08.isnull().sum().any()

False

In [48]:
# 检查 2018 年的任何列是否有空值 - 应打印为“假”
df_18.isnull().sum().any()

False

## 重复数据删除

In [51]:
# 打印 2008 年和 2018 年数据集的重复数量
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

23
3

In [53]:
# 丢弃两个数据集中的重复数据
df_08 = df_08.drop_duplicates()
df_18 = df_18.drop_duplicates()

In [54]:
# 再次打印重复数量，确认重复数据已删除——均应为 0 
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [55]:
# 保存进度，以便下一段使用
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)